@import "./reset.css";

body {
    background-color: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
    padding-bottom: 100px;
}

.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.title-1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}

.films {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 30px;
}

.film-card {
    width: 200px;
    text-align: center;
    background-color: rgb(34, 30, 30);
    padding-bottom: 15px;
    border-radius: 6px;
}

.film-card__img {
    width: 200px;
    margin-bottom: 15px;
    border-radius: 6px;
}

.film-card__title {
    padding: 0 5px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
}

.film-card__year {
    margin-bottom: 5px;
    color: rgb(5, 144, 243);
    font-size: 14px;
}

.film-card__rate {
    color: rgb(211, 216, 48);
    font-size: 14px;
}

.show-more {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;

    border-radius: 6px;
    background-color: rgb(16, 85, 205);
    color: #fff;
    transition: opacity 0.2s ease-in;
}

.show-more:hover {
    opacity: 0.8;
}

/* CSS loader */

.loader-wrapper {
    width: 100%;
    padding: 100px 0;
    text-align: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(43, 146, 255);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
